body {
    background-color: #222;
    text-align: center;
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    color: rgb(58, 91, 122);
}

div.clock-frame {
    display: inline-block;
    border: 5px dashed rgb(108, 136, 164);
    padding: 20px;
    width: auto;
    top: 60px;
    position: relative;
}

span.days {
    font-size: 3em;
}

span.hours {
    font-size: 5em;
}

span.conventional {
    font-size: 1.3em;
}