@main("Octoclock") {
    <script type="text/javascript">
        function getTime() {
            $("div.clock-frame").load("/time", function() {
                $("div.clock-frame").show();
                document.title = "Octoclock - " + $(this).children(".hours").text() + ":" +  $(this).children(".days").text();
            });
        }

        $(function() {
            $("div.clock-frame").hide();
            getTime();
            setInterval(getTime, 3000);
        })
    </script>
    <div class="clock-frame">
    </div>
}